@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Source+Serif+Pro:wght@600&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/*--------- image animation */
.pro-image img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
/* ======image animation */
/* navigation */
nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav ul li {
    list-style: none;
}
.logo-text{
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
}
main {
    display: grid;
    justify-content: center;
}
.container {
    width: 1047px;
    margin: 50px 0;
}
.main-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.text h1{
    font-size: 52px;
    line-height: 70px;
    font-weight: 700;
}
.text a {
    text-decoration: none;
    background: #E02C6D;
    padding: 5px 46px;
    border-radius: 17px;
    color: #fff;
}
 .see-more a {
    text-decoration: none;
    padding: 5px 46px;
    border-radius: 17px;
    color: #E02C6D;
}
/* popular section */
.collection-title {
    font-size: 28px;
    text-align: center;
    font-weight: 600;
    line-height: 70px;
}
.populer-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-row-gap: 30px;
}
p.see-more {
    display: flex;
    justify-content: flex-end;
}
i.fas.fa-star, .fa-star-half-alt {
    color: #f2a800bf;
}
.fa, .fas {
    margin-left: 10px;
}
.text a, .see-more a {
    padding: 5px 15px 5px 20px;
}
/* best section */
/* --------best seller --------*/
.best-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}
.best-section .product img{
    width:100%;
}
.product {
    padding: 17px;
    box-shadow: 0px 0px 18px #888888;
}
footer {
    background: #1b1b3b;
    color: #fff;
    padding: 50px 0;
    text-align: center;
}
footer h1{
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
}
footer p{
    font-size: 14px;
    line-height: 24px;
}
p.social-link span i {
    display: inline-block;
    width: 25px;
}
/* ----------media query -----------*/
@media only screen and (max-width:768px){
    .container {
        width: 100%;
    }
    li.m {
        display: none;
    }
    .text {
        width: 70%;
        order:2;
    }
    .main-section {
        display: grid;
        justify-content: end;
        align-items: center;
        justify-items: center;
    }
    .populer-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        grid-row-gap: 30px;
    }
    .best-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
@media only screen and (min-width:768px) and (max-width:890px){
    .container {
        width: 100%;
    }
    .populer-section {
        grid-template-columns: repeat(2, 1fr);
    }
    .main-section {
        padding: 0 20px;
    }
    .best-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 0;
    }
}